/* Style du Header et des icones de navigation */
.main-header {
    font-family: Baloo;
    font-style: normal;
    font-weight: normal;
    text-align: start;
    color: #189fd6;
  }
    .main-title {
      margin: auto;
      font-size: 1em;
      margin-left: 10px;
    }
  
    .head-display {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .logo-header {
      height: 40px;
      width: 130px;
      margin: auto;
    }
    .main-line {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
    .nav-icon {
      padding: 20px;
    }
    .first-line {
      width: 70%;
      height: 15px;
      background-color: #004489;
      margin-bottom: 20px;
      float: left;
      border-radius: 5px;
      margin-left: 10px;
    }
    .second-line {
      width: 28%;
      height: 15px;
      background-color: #189fd6;
      float: right;
      border-radius: 5px;
      margin-right: 10px;
    }

  /*Version Desktop*/

    @media screen and (min-width: 768px) {
      .logo-header {
        height: 120px;
        width: 330px;
        margin: 0em;
        padding: 20px;
      }
      .nav-icon {
        display: flex;
        margin: auto;
      }
      .icon-link-home {
        margin-right: 30px;
      }
      .icon-link-table {
        margin-right: 30px;
      }
      .icon-link-login {
        margin-right: 30px;
      }
      .icon-link-register {
        margin-right: 30px;
      }
      .icon-link-logout {
        margin-right: 30px;
        color: #189fd6;
      }
      .main-title {
        margin-top: 30px;
        font-weight: bold;
        font-size: 3em;
      }
    }
