.card-style {
  margin: 25px;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.08);
}
span {
  margin-right: 5px;
}

.picture {
  display: flex;
  justify-content: center;
}

.profile {
  width: 60px;
  height: 60px;
  margin-top: 25px;
  border-radius: 50%;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.2);
}

.person {
  padding: 10px;
  background-color: #a8a8a8;
  margin: auto;
  font-size: 13px;
  border-radius: 10px;
}

.title {
  display: flex;
  margin: 15px;
  font-size: 10px;
}

h5 {
  margin: 0px;
}
.objectif-title {
  background-color: #49d5e7;
  color: #ffffff;
  font-size: 10px;
}

.realise-title {
  background-color: #494fe7;
  color: #ffffff;
  font-size: 10px;
}

.objectif-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid #49d5e7;
  font-size: 10px;
}
.realise-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid #494fe7;
  font-size: 10px;
}

p {
  padding-left: 20px;
}

.color1 {
  margin: 5px;
  color: #fc2ccb;
}
.color2 {
  margin: 5px;
  color: #04f117;
}
.color3 {
  margin: 5px;
  color: #029c0f;
}
.progress_bar {
  height: 50px;
  width: 50px;
}
.profile-img {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
.progress-image-block {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.input-prev-img {
  font-size: xx-small;
  }

@media (min-width: 768px) {
  .card-prev {
    display: flex;
    justify-content: center;
  }
  .welcome-title {
    text-align: center;
  }
  .card-style {
    width: 220px;
  }
  .progress_bar {
    height: 50px;
    width: 50px;
  }
  .profile-img {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .progress-image-block {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .input-prev-img {
  font-size: xx-small;
  }
}
