/* Style du formulaire "Nouveau Préventeur" */

* {
  font-family: montserrat, sans-serif;
}
.new-prev {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 200px;
}

.title-new-prev {
  margin-left: 70px;
  color: #1a3478;
  font-weight: 600;
  font-size: large;
  width: 100%;
}

input {
  appearance: none;
  background: none;
  outline: none;
  height: 40px;
  width: 25em;
  margin-top: 10px;
  color: #1a3478;
  font-weight: bold;
  border-radius: 8px;
}

button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  margin-left: 90px;
  width: 120px;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #00206b 50%,
    #00206b 50%,
    #d40000
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-position: 100% 0%;
}
/*________________________________________________________________________________________________________*/

/* Mise en forme de la liste des Preventeurs */
.preventer-list {
  margin-left: 50px;
}

.list-prev {
  display: flex;
  justify-content: flex-start;
}

h3 {
  display: flex;
  justify-content: flex-start;
  width: 150px;
  margin-top: 60px;
  margin-left: 30px;
  color: #00206b;
}

.list-items {
  display: flex;
  flex-direction: row;
}

li {
  list-style:square;
  padding-bottom: 20px;
  color: #00206b;
  margin-left: 5px;
  padding-top: 10px;
  font-weight: 600;
}
.item-2 {
  list-style: none;
}

.delete-prev {
  margin: auto;
  margin-left: 25px;
}
/*________________________________________________________________________________________________________*/
/* Style Input Select Aléas */

.form-admin {
  width: 100px;
  display: flex;
  flex-direction: row;
}
.hazard-title {
  margin-left: 150px;
}
.agency-title {
  margin-left: 120px;
}
.site-title {
  margin-left: 120px;
}
.other-title {
  margin-left: 150px;
}

.add-input {
  width: 160px;
  height: 30px;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.form-admin-input{
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

select {
  border-radius: 10px;
  width: 200px;
  margin:auto;
  height: 40px;
  color:#00206b;
  font-weight: bold;
}

label {
  color:  #00206b;
  font-weight: bold;
}

option {
  color:  #00206b;
  font-weight: bold;

}

.post-input {
margin:auto;
margin-bottom: 5px;
}
.delete-input {
  margin: auto;
}

@media screen {
  
}
